* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: #e5e6f0;
  -webkit-font-smoothing: antialised;
}

body,
input,
button {
  font-family: Roboto, sans-serif;
}

.input-block {
  margin: 20px 10px;
}

.input-block button {
  padding: 10px;
  margin: 10px 10px;
}

.actions button {
  padding: 10px;
  margin: 5px 2px;
}
